apiVersion: v1
kind: PersistentVolume
metadata:
  name: wp-content-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 10.0.0.5      # CHANGE to your NFS server
    path: /export/wp-content
